<header>
    <div class="header-div1">
        <div class="header-div-img">
            <img src="/images/Free_Sample_By_Wix.jpg" alt="logo">

        </div>
        <div class="header-div-input">
            <input type="text" placeholder="Que estas buscando?...">
        </div>
    <div class="header-div-sesion">
        <i class="fas fa-user"></i>
    </div>
    <div class="header-div-carrito">
        <i class="fas fa-shopping-cart"></i>
    </div>
        
    </div>
</header>