*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#contentItemsCarousel{
  height: 450px;
  overflow: hidden; /* para que recorte todo lo que sobra */
}

.item-carousel{
  height: 100%;
  position: relative;
}

.card-carousel{
  height: 100%;
}

.arrow-carousel{
  position: absolute;
  top: 0;
  height:100%;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content:space-between;
  padding: 20px;
}

#card-carousel-1{
  background-color: purple;
}
#card-carousel-2{
  background-color: yellowgreen;
}
#card-carousel-3{
  background-color: lightblue;
}

a{
  text-decoration: none;
}

i{
  color: white;
  font-size: 20px;
}

img{
  width: 100%;
  height: 100%;
}

/* Materialize */

.container{
  margin-top: 100px;
  width: 100%;
  height: 100%;
}

.carousel{
  min-height: 500px;
}

.carousel .carousel-item {
   height: 100%;
   width: 100%;
}

.carousel .carousel-item img {
  width: 100%;
  height: 100%;
}
